<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/efd0a1c1d1.js"
      crossorigin="anonymous"
    ></script>
    <script src="scripts/files.js" defer></script>
    <title>File Uploader</title>
  </head>
  <body>
    <%- include('./partials/header') %>
    <div class="main">
      <div class="mainGrid">
        <div class="directoryContainer">
          <% if (locals.folders.length > 0) { %>
            <% locals.folders.forEach(folder => { %>
              <a class="itemLinkContainer" href="/files?folderId=<%=folder.id%>">
                <div class="directoryItem">
                  <i class="directoryIcon fa-solid fa-folder"></i>
                  <p><%= folder.foldername %></p>
                </div>
              </a>
            <% }) %>
          <% } %>
          <% if(locals.files.length > 0) { %>
            <% locals.files.forEach(file => { %> 
              <a class="itemLinkContainer" href="/files/file?fileId=<%=file.id%>">
                <div class="directoryItem">
                  <i class="directoryIcon fa-solid fa-file"></i>
                  <p><%= file.filename %></p>
                </div>  
              </a>  
            <% }) %> 
          <% } %>
          <% if(locals.currentFolder) { %>
           <%- include('./partials/backButton') %>
          <% } %>
        </div>
        <div class="uploadContainer">
          <button type="button" onclick="openUploadFileModal()" class="borderTransition actionBtn">
            Upload File <i class="fa-solid fa-file-circle-plus"></i>
          </button>
          <button type="button" onclick="openCreateFolderModal()" class="borderTransition actionBtn">
            Create Folder <i class="fa-solid fa-folder-plus"></i>
          </button>
          <div class="rhombus">
            <span class="pageTitle"><%= locals.dirpath %></span>
          </div>
        </div>
      </div>
    </div>
    <dialog id="uploadFileModal">
      <form class="dialog-form" method="post" action="/file<% locals.currentFolder ? `?folderId=${locals.currentFolder.folder}` : ''%>" enctype="multipart/form-data">
        <div class="formHeader">
          <h1>Upload File</h1>
        </div>
        <div class="formInputContainer">
          <div class="fileUploadContainer">
            <label class="customFileUpload" for="fileUpload">Choose File</label>
            <input type="file" name="file" id="fileUpload"/>
            <div class="uploadedFile">
              <span></span>
            </div>            
          </div>
          <p class="none"></p>
          <div class="dialogButtonContainer">
            <button class="actionBtn borderTransition" type="button" onclick="uploadFileSubmit()">Upload</button>
            <button class="actionBtn borderTransition" type="button" onclick="closeUploadFileModal()">Cancel</button>
          </div> 
        </div>               
      </form>
      <%- include('./partials/loading') %>
    </dialog>
    <dialog id="createFolderModal">
      <form class="dialog-form" method="post" action="/folder<% locals.currentFolder ? `?folderId=${locals.currentFolder.folder}` : ''%>">
        <div class="formHeader">
          <h1>Create Folder</h1>
        </div>
        <div class="formInputContainer">
          <input type="text" placeholder="Foldername" name="foldername" id="foldername"/>
          <p></p>
          <div class="dialogButtonContainer">
            <button class="actionBtn borderTransition" type="button" onclick="createFolderSubmit()">Create</button>
            <button class="actionBtn borderTransition" type="button" onclick="closeCreateFolderModal()">Cancel</button>
          </div> 
        </div>     
      </form>
      <%- include('./partials/loading') %>
    </dialog>
  </body>
</html>
