<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>File Uploader</title>
  </head>
  <body>
    <%- include('./partials/animatedBG') %>
    <form method="POST" action="/signup">
      <div class="formHeader">
        <h1>Sign Up</h1>
      </div>
      <div class="formInputContainer">
        <input 
          type="text" 
          name="username" 
          id="username" 
          placeholder="Enter Username" 
          value="<%= locals.username ? locals.username : ''  %>" />
        <input 
          type="password" 
          name="password" 
          id="password" 
          placeholder="Enter Password" 
          value="<%= locals.password ? locals.password : ''  %>" />
        <input 
          type="password" 
          name="confirmPassword" 
          id="confirmPassword" 
          placeholder="Confirm Password" 
          value="<%= locals.confirmPassword ? locals.confirmPassword : ''  %>" />
        <% if (locals.error) { %>
          <p><%= locals.error %></p>  
        <% } %>
        <button class="borderTransition actionBtn formBtn" type="submit">Submit</button>
        <p>Already have an account? <a tabindex="-1" href="/login"><button type="button" class="formBtn borderTransition actionBtn">Login</button></a></p>
        <div class="formBGElement"></div>
      </div>
    </form>
  </body>
</html>
